@using Microsoft.AspNetCore.Identity
@model IEnumerable<MovieApp.Models.Reviews>
@inject SignInManager<IdentityUser> singInManager;

@{
    ViewData["Title"] = "Index";
}

<h1>Reviews created by users</h1>

@if (singInManager.IsSignedIn(User))
   {
        <a asp-action="Create"><button type="button" class="btn btn-primary btn-lg">Add new review</button> </a>
   }
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @if (singInManager.IsSignedIn(User))
                { 
                 <a asp-action="Details" asp-route-id="@item.ReviewId"><button type="button" class="btn btn-info">See more</button></a>
                 <a asp-action="Edit" asp-route-id="@item.ReviewId"><button type="button" class="btn btn-secondary cardBTN">Edit</button></a> 
                 <a asp-action="Delete" asp-route-id="@item.ReviewId"><button type="button" class="btn btn-danger cardBTN">Delete</button></a> 
                 }
                
            </td>
        </tr>
}
    </tbody>
</table>
