@model MovieApp.Models.PersonalCollection

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonalCollection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectMovieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectMovieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WatchDate)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CollectionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index"><button type="button" class="btn btn-light">Back to list</button></a>
    </form>
</div>
