@model MovieApp.Models.PersonalCollection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalCollection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectMovieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectMovieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WatchDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CollectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
