@model IEnumerable<MovieApp.Models.PersonalCollection>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Movies</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Add movie</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatchDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SelectMovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WatchDate)
            </td>
            <td>
               
                <a asp-action="Edit" asp-route-id="@item.CollectionId"><button type="button" class="btn btn-secondary">Edit</button></a> 
                <a asp-action="Delete" asp-route-id="@item.CollectionId"><button type="button" class="btn btn-danger">Delete</button></a> 
                
            </td>
        </tr>
}
    </tbody>
</table>


 
