@using Microsoft.AspNetCore.Authorization
@model IEnumerable<MovieApp.Models.MovieData>
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h1>Movie List</h1>

 @if (User.IsInRole("Administrator"))
{
  <p>
        <a asp-action="Create"><button type="button" class="btn btn-primary btn-lg">Add new movie</button> </a>
 </p>  
}

           

    @{
        System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
    }
    @foreach (var item in Model) {

  
    <div class="movie-card">
		<div class="color-overlay">
            <img src="@("~/image/"+ item.ImageName)" asp-append-version="true" alt=""/> 
			<div class="movie-content">
				<div class="movie-header">
					<h1 class="movie-title">@Html.DisplayFor(modelItem => item.MovieName)</h1>
					<h4 class="movie-info">@Html.DisplayFor(modelItem => item.Genre)</h4>
				</div>
				<p class="movie-desc">@Html.DisplayFor(modelItem => item.Description)</p>
			</div>
             @if (User.IsInRole("Administrator"))
{
               <div class=edit-buttons>
                   <a asp-action="Edit" asp-route-id="@item.MovieId"><button type="button" class="btn btn-secondary cardBTN">Edit</button></a> 
                 <a asp-action="Delete" asp-route-id="@item.MovieId"><button type="button" class="btn btn-danger cardBTN">Delete</button></a> 
                </div> 
}
		</div>
	</div>


}

